nav
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body
{
font-family: 'Times New Roman', Times, serif;
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

ul
{
    float:left;
    list-style-type:armenian;
}